.container{
    position: relative;
    width: 1526px;
    height: 617px;
    /*border: 3px solid red;*/
}

.verify-container{
    /*margin-top: -91px;
    width: 853px;
    float: left;*/
    position: absolute;
    top: 196px;
    left: 967px;
    width: 432px;
    height: 232px;
    /*border: 3px solid green;*/
}



.homepage h1{
    font-size: 50px;
    position: absolute;
    top: 191px;
    left: 134px;
    width: 599px;
    height: 90px;
    /*border: 3px solid blue;*/
}